= simple_form_for @unknown_risk, :wrapper => :horizontal_form do |f|
  - if @unknown_risk.errors.any?
    #error_explanation
      %h2= "#{pluralize(@unknown_risk.errors.count, "error")} prohibited this unknown_risk from being saved:"
      %ul
        - @unknown_risk.errors.full_messages.each do |message|
          %li= message

  .field
    = f.input :none
  .field
    = f.input :low
  .field
    = f.input :some
  .field
    = f.input :many
  .actions
    = f.submit 'Save'
