.card
  .card-body
    = simple_form_for @complexity, :wrapper => :horizontal_form do |f|
      - if @complexity.errors.any?
        .alert.alert-danger
          %strong= "#{pluralize(@complexity.errors.count, 'error')} prohibited this complexity from being saved:"
          %ul.mb-0
            - @complexity.errors.full_messages.each do |message|
              %li= message

      = f.input :none
      = f.input :little
      = f.input :fair
      = f.input :complex
      = f.input :very_complex
      .mt-2
        = f.submit 'Save', class: 'btn btn-primary btn-sm'
