.card
  .card-body
    = simple_form_for @game, :wrapper => :horizontal_form do |f|
      - if @game.errors.any?
        .alert.alert-danger
          %strong= "#{pluralize(@game.errors.count, 'error')} prohibited this game from being saved:"
          %ul.mb-0
            - @game.errors.full_messages.each do |message|
              %li= message

      = f.input :name
      = f.input :amount_of_work_id, :collection => AmountOfWork.all
      = f.input :complexity_id, :collection => Complexity.all
      = f.input :unknown_risk_id, :collection => UnknownRisk.all
      .mt-2
        = f.submit 'Save', class: 'btn btn-primary btn-sm'
