%table.table
  %tr
    %th{:colspan => 4}
      Player Votes
  %tr
    %th{:align => :left}
      Player
    %th{:align => :left}
      Complexity
    %th{:align => :left}
      Amount of Work
    %th{:align => :left}
      Unknowns / Risks
    %th{:align => :left}
      Total Points
    %th.table-primary{:align => :left}
      Fibonacci Vote
    %th{:align => :left}
      voted?
    %th{:align => :left}
      Remove
  - players.each do |player|
    %tr
      %td
        = player.name
      %td
        = show_player_votes ? player.complexity : 'x'
      %td
        = show_player_votes ? player.amount_of_work : 'x'
      %td
        = show_player_votes ? player.unknown_risk : 'x'
      %td
        = show_player_votes ? player.total_points : 'x'
      %td.table-primary
        = show_player_votes ? player.fibonacci_vote : 'x'
      %td
        = player.voted? ? 'Yes' : 'No'
      %td
        = link_to 'Remove', [player.game, player], method: :delete, :remote => true, data: { confirm: 'Are you sure?' }
  - if show_player_votes
    %tr
      %td
        Average
      %td
        #{as_average(players.sum(:complexity), players.players_voted.count)}
      %td
        #{as_average(players.sum(:amount_of_work), players.players_voted.count)}
      %td
        #{as_average(players.sum(:unknown_risk), players.players_voted.count)}
      %td
        #{as_average(players.sum_total_points, players.players_voted.count)}
      %td.table-primary
        #{as_average(players.sum_fibonacci_vote, players.players_voted.count)}
      %td

- if show_player_votes
  %table.table
    %tr
      %th{:colspan => 4}
        Summary
    %tr
      %th{:align => :left}
        Metric
      %th{:align => :left}
        Player
      %th{:align => :left}
        Points Total
      %th.table-primary{:align => :left}
        Fibonacci Vote
    %tr
      %td
        Highest
      %td
        #{players.highest_voter.name}
      %td
        #{format_number(players.highest_voter.total_points)}
      %td.table-danger
        #{format_number(players.highest_voter.fibonacci_vote)}
    %tr
      %td
        Lowest
      %td
        #{players.lowest_voter.name}
      %td
        #{format_number(players.lowest_voter.total_points)}
      %td.table-success
        #{format_number(players.lowest_voter.fibonacci_vote)}