%table.table
  %tr
    %th{:colspan => 4}
      Player Votes
  %tr
    %th{:align => :left}
      Player
    %th{:align => :left}
      Complexity
    %th{:align => :left}
      Amount of Work
    %th{:align => :left}
      Unknowns / Risks
    %th{:align => :left}
      voted?
    %th{:align => :left}
      Remove
  - players.each do |player|
    %tr
      %td
        = player.name
      %td
        = hide_player_votes ? 'x' : player.complexity
      %td
        = hide_player_votes ? 'x' : player.amount_of_work
      %td
        = hide_player_votes ? 'x' : player.unknown_risk
      %td
        = player.voted? ? 'Yes' : 'No'
      %td
        = link_to 'Remove', [player.game, player], method: :delete, :remote => true, data: { confirm: 'Are you sure?' }