%p#notice= notice

= render :partial => 'game_settings'

%p

.container
  .row
    .col
      #game-id{"data-game-id" => "#{@game.id}"}
        This is game #{@game.id}
      %p
      %div
        - if @games_player.name
          = render :partial => 'form_vote'
        - else
          = render :partial => 'form_join'
    .col#players_table
      = render :partial => 'players_table', :locals => { :players => @game.games_players, :hide_player_votes => @game.games_players.players_not_voted? }


= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
