= simple_form_for @amount_of_work, :wrapper => :horizontal_form do |f|
  - if @amount_of_work.errors.any?
    #error_explanation
      %h2= "#{pluralize(@amount_of_work.errors.count, "error")} prohibited this amount_of_work from being saved:"
      %ul
        - @amount_of_work.errors.full_messages.each do |message|
          %li= message

  .field
    = f.input :tiny
  .field
    = f.input :little
  .field
    = f.input :fair
  .field
    = f.input :large
  .field
    = f.input :huge
  .actions
    = f.submit 'Save'
