%h1 Listing amount_of_works

%table
  %thead
    %tr
      %th Tiny
      %th Little
      %th Fair
      %th Large
      %th Huge
      %th
      %th
      %th

  %tbody
    - @amount_of_works.each do |amount_of_work|
      %tr
        %td= amount_of_work.tiny
        %td= amount_of_work.little
        %td= amount_of_work.fair
        %td= amount_of_work.large
        %td= amount_of_work.huge
        %td= link_to 'Show', amount_of_work
        %td= link_to 'Edit', edit_amount_of_work_path(amount_of_work)
        %td= link_to 'Destroy', amount_of_work, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Amount of work', new_amount_of_work_path
